<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">H&M</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../assets/H_M.png" class="ion-img">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: rgb(255, 153, 51);">Pinky
        Girly Dress</ion-card-title>
      <ion-card-subtitle class="ion-text-center" style="color: rgb(228, 236, 111);">Price:
        $17.99</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Dress Color:</strong>
        Peach
      </p>
      <p class="ion-text-center ion-text-justify">This pinky girly dress from H&M is made from soft,
        stretchy fabric for a comfortable and flattering fit.
        It features a round neckline and short sleeves, making it perfect for warm weather.
        The light gray color is versatile and easy to pair with different accessories and shoes.
        Dress it up with heels and statement jewelry or keep it casual with sneakers or sandals.
      </p>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Dress Code:</strong>
        This dress is great for casual occasions like running errands, meeting friends, or going to the
        park.
        It can be paired with sneakers or sandals for a relaxed look, or dressed up with heels and
        accessories for a more formal occasion.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>