<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Penshoppe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../assets/Penshoppe.png" class="ion-img">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: rgb(239, 120, 152);">Fitted
        Jacket Dress</ion-card-title>
      <ion-card-subtitle class="ion-text-center" style="color: rgb(228, 236, 111);">Price:
        $49.99</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Dress Color:</strong>
        Blue Green and Black
      </p>
      <p class="ion-text-center ion-text-justify">This fit dress from Penshoppe is a versatile piece
        for any wardrobe.
        It features a classic light blue wash and a comfortable, relaxed fit.
        The dress has two chest pockets and two side pockets for added functionality.
        Pair it with jeans and anything a casual look or dress it up with a boots.
      </p>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Jacket Code:</strong>
        This jacket is perfect for adding a casual and edgy touch to any outfit.
        Wear it as a statement piece with a simple outfit, or layer it over a dress for a more interesting look.
        The oversized fit makes it easy to layer over thicker clothing during colder months.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>