ion-card-title {
    font-weight: bold;
    font-size: 200%;
  }
  
  ion-card-subtitle {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  ion-item {
    --padding-start: 0;
  }
  
  ion-icon {
    color: #db7777;
  }
  
  p {
    text-align: center;
  }
