ion-card-title {
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-style: italic;
  }
  
  ion-item {
    --padding-start: 0;
  }
  
  ion-icon {
    color: #db7777;
  }
  
  p {
    text-align: center;
  }