<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Badgley Mischka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../assets/Badley-Mischka.png" class="ion-img">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: rgb(59, 202, 228);">Sequin Evening
        Gown</ion-card-title>
      <ion-card-subtitle class="ion-text-center" style="color: rgb(228, 236, 111);">Price:
        $550</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Dress Color:</strong>
        Red
      </p>
      <p class="ion-text-center ion-text-justify">
        This stunning Badgley Mischka evening gown is covered in shimmering sequins, perfect for a
        special occasion.
        It features a flattering sweetheart neckline, slim fit, and a long, flowing skirt.
        The deep navy blue color adds a touch of sophistication to the glamorous look.
        Pair it with strappy heels and a clutch for a head-turning ensemble.
      </p>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Dress Code:</strong>
        This dress is perfect for formal occasions such as weddings, galas, and red carpet events.
        Pair it with statement jewelry and elegant heels to complete the look.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>