<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ product.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <!-- id_1 -->
    <img src="../../assets/{{ product.img_url }}" class="ion-img">
  </div>
  <ion-card>
    <ion-card-header>

      <!-- Name -->
      <ion-card-title class="ion-text-center" style="color: rgb(216, 167, 104);">{{ product.name }}</ion-card-title>

      <!-- Price -->
      <ion-card-subtitle class="ion-text-center" style="color: rgb(212, 236, 103);">Price: ${{ product.price }}

      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
 
      <!-- Dress Color -->
      <p class="ion-text-justify">
        <strong style="color: rgba(196, 134, 158, 0.836);">Dress Color: {{ product.color }}</strong>
      </p>
      <!-- Dress Code -->
      <p class="ion-text-justify">
        <strong style="color: rgba(196, 134, 158, 0.836);">Dress Code: {{ product.code }}</strong>
      </p>

      <!-- Long Description -->
      <p class="ion-text-center ion-text-justify">{{ product.long_description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>