<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Zara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../assets/Zara.jpg" class="ion-img">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: rgb(255, 128, 128);">High-Waisted Dress</ion-card-title>
      <ion-card-subtitle class="ion-text-center" style="color: rgb(228, 236, 111);">Price: $39.99</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Pants Color:</strong>
        Blue Green
      </p>
      <p class="ion-text-center ion-text-justify">These high-waisted wide-leg pants from Zara are the perfect addition
        to any wardrobe. They're made from a lightweight fabric, making them ideal for warmer weather. The navy blue
        color is versatile and can be paired with a variety of tops and shoes. Dress them up with heels and a blouse for
        a professional look, or wear them with sandals and a t-shirt for a more casual outfit.</p>
      <p class="ion-text-justify">
        <strong style="color: rgb(255, 255, 255);">Pants Code:</strong>
        These pants are versatile and can be dressed up or down for a variety of occasions.
        For a casual look, pair them with a t-shirt and sandals.
        To dress them up, add a blouse and heels or wedges.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
